$dark-blue: #222222;
$light-pink: #F8F3F4;
$pink: #F1E4E6;
$hot-pink: #FF6A6A;
$flamingo: #F26376;
$dark-pink: #F16D7F;
$brown: #474040;
$white: #FFFFFF;
$light-grey: #E1E1E1;
$soft-gray: #9F9F9F;
$dark-gray: #5D5D5D;
$rain: #A4A4A4;
$dirty-rain: #B1B1B1;
$dirty-white: #F8F8F8;
$almost-black: #222224;
$almost-white: #FBFBFB;
$middle-gray: #6F6E6E;
$matterhorn: #575757;
$white-smoke: #F5F3F3;
$charcoal: #4A4A4A;
$black: #000;

$desktop-width: 1600px;
$tablet-width: 768px;
$mobile-width: 375px;